<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Blogger!</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

  <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">Blogger</a>
      <ul id="nav" class="right">

        
          <%= if @conn.assigns[:user] do %>
            <li>
              <a class='dropdown-trigger' href='#' data-target='dropdown1'>Hello, <%= @conn.assigns[:user].name %> </a>
            </li>
            <ul id='dropdown1' class='dropdown-content'>
              <li>
                <%= link "My Posts", to: post_path(@conn, :index) %>
              </li>
                <li> <%= link "Activities", to: activity_path(@conn, :index) %> </li>
               <li> <%= link "Sign Out", to: auth_path(@conn, :signout) %> </li>
            </ul>
        <% else %>
          <li>
            <%= link "Login", to: auth_path(@conn, :index) %>
          </li>
          <li>
            <%= link "Register", to: auth_path(@conn, :signup) %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

    <div class="container-fluid">


      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.dropdown-trigger');
          var instances = M.Dropdown.init(elems, {
            coverTrigger: false
          });
        });
      </script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>
